#layout {
  background-color: rgb(211, 255, 255);
  width: 1800px;
  height: 1500px;
  float: left;
}

#joinBox {
  background-color: white;
  border: 1px solid black;
  height: 650px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px;
  border-radius: 8%;
}
/* 
#id {
  margin: auto;
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  
}

#user_name {
  margin: auto;
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
}
#pw_re {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pw {
  margin: auto;
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

}
#email {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */